input[type="videoTime"] {
    display: block;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    box-shadow: none;
    padding: 8px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="videoTime"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    outline: none;
}
