.Url-input {
    font-size: small;
    width: 500px;
    padding: 8px 5px;
    margin: 12px 10px;
    box-sizing: border-box;
    border: ridge;
}

.Url-submit {
    font-size: medium;
    width: 100px;
    height: 35px;
    border: outset;
}
